#ifndef KEYMAP_DRAWER

#include "keys_ru.h"

#endif

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// DEFINITIONS {{{
// #define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54
// #define KEYS_R 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 55 56 57 58 59
// #define MTSK(key)   &mtsk key     key
// #define LTSL(layer) &ltsk layer   layer
// #define HRM_LGUI(key) &mtl LGUI   key
// #define HRM_LALT(key) &mtl LALT   key
// #define HRM_LSFT(key) &mtl LSHIFT key
// #define HRM_LCTL(key) &mtl LCTRL  key
// #define HRM_RGUI(key) &mtr RGUI   key
// #define HRM_RALT(key) &mtr RALT   key
// #define HRM_RSFT(key) &mtr RSHIFT key
// #define HRM_RCTL(key) &mtr RCTRL  key
// }}} DEFINITIONS
// CONFIGS {{{

&sk { release-after-ms = <10000>; };

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE MINUS KP_MINUS>; };

&soft_off { hold-time-ms = <3000>; };

// }}} CONFIGS

/ {
    // MACROS {{{

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHIFT &kp N2>,
                <&macro_release>,
                <&kp N2 &kp LSHIFT &kp LCTRL>;

            label = "TO_RU";
            wait-ms = <0>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHIFT &kp N1>,
                <&macro_release>,
                <&kp N1 &kp LSHIFT &kp LCTRL>;

            label = "TO_EN";
            wait-ms = <0>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &to MACRO_PLACEHOLDER &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 3 &to_ru>;
            label = "LAYER_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        ru: ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_ru>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_en>;

            label = "RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        m_release_key_twice: m_release_key_twice {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
        };

        m_press_key_twice: m_press_key_twice {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&macro_param_1to1 &m_release_key_twice MACRO_PLACEHOLDER>;
        };

        m_hold_mod_press_key: m_hold_mod_press_key {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&macro_param_2to1 &kp MACRO_PLACEHOLDER>;
        };

        m_la: m_layer_advanced {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_tap>,
                <&kp 0>,
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER &kp LSHFT &kp LCTRL &kp LALT &kp LGUI>;
        };
    };

    // }}} MACROS
    // BEHAVIOURS {{{

    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_VOL";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };

        enc_prevnext: enc_prevnext {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_PREVNEXT";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_NEXT>, <&kp C_PREV>;
        };

        sticky_forever: sticky_forever {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&m_press_key_twice>;
            release-after-ms = <60000>;
            quick-release;
            ignore-modifiers;
        };

        u_skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <10000>;
            quick-release;
            ignore-modifiers;
        };

        ltsk: layer_tap_sticky_key {
            label = "layer_tap_sticky_key";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&mo>, <&u_skq>;

            flavor = "tap-preferred";
        };

        lasl: layer_adv_sticky_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "layer_adv_sticky_layer";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&m_la>, <&sl>;

            flavor = "tap-preferred";
        };

        mtsk: mod_tap_sticky_key {
            label = "mod_tap_sticky_key";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&sk>;

            hold-while-undecided-linger;
            flavor = "tap-preferred";
        };

        u_mt: u_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "u_mod_tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <200>;
        };

        u_lt: u_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;

            quick-tap-ms = <200>;
        };

        mtl: mod_tap_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 55 56 57 58 59>;
            hold-trigger-on-release;
        };

        mtr: mod_tap_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54>;
            hold-trigger-on-release;
        };

        cm_lgui: cm_lgui {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sticky_forever LGUI>, <&m_release_key_twice LGUI>;

            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };

        cm_lalt: cm_lalt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sticky_forever LALT>, <&m_release_key_twice LALT>;

            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        cm_lctrl: cm_lctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sticky_forever LCTRL>, <&m_release_key_twice LCTRL>;

            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        cm_lshft: cm_lshft {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sticky_forever LSHFT>, <&m_release_key_twice LSHFT>;

            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        swap_desk: swap_desk {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_hold_mod_press_key LGUI TAB>, <&kp TAB>;

            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };

        swap_wins: swap_wins {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_hold_mod_press_key LALT TAB>, <&kp TAB>;

            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        swap_tabs: swap_tabs {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&m_hold_mod_press_key LCTRL TAB>, <&kp TAB>;

            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        td_lt_lt_kp: td_lt_lt_kp {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LT_LT_KP";
            #binding-cells = <0>;
            bindings = <&u_lt 8 ENTER>, <&u_lt 9 ENTER>;

            tapping-term-ms = <75>;
        };
    };

    // }}} BEHAVIORS
    // COMBOS {{{

    combos {
        compatible = "zmk,combos";

        cmben {
            bindings = <&layer_en 0>;
            key-positions = <15 14>;
            layers = <0 1 2 3>;
            timeout-ms = <50>;
            require-prior-idle-ms = <30>;
        };

        cmben_alt1 {
            bindings = <&layer_en 1>;
            key-positions = <15 14 16>;
            timeout-ms = <60>;
            require-prior-idle-ms = <30>;
            layers = <0 1 2 3>;
        };

        cmben_alt2 {
            bindings = <&layer_en 2>;
            key-positions = <14 16>;
            timeout-ms = <60>;
            require-prior-idle-ms = <30>;
            layers = <0 1 2 3>;
        };

        cmbru {
            bindings = <&layer_ru>;
            key-positions = <15 16>;
            layers = <0 1 2 3>;
            timeout-ms = <50>;
            require-prior-idle-ms = <30>;
        };

        ru_cyr_yo {
            bindings = <&kp GRAVE>;
            key-positions = <17 29>;
            layers = <3>;
            timeout-ms = <70>;
            require-prior-idle-ms = <30>;
        };

        ru_cyr_hsgn {
            bindings = <&kp RU_CYRILLIC_HARD_SIGN>;
            key-positions = <47 46>;
            layers = <3>;
            timeout-ms = <70>;
            require-prior-idle-ms = <30>;
        };

        ru_cyr_ha {
            bindings = <&kp RU_CYRILLIC_HA>;
            key-positions = <21 20>;
            layers = <3>;
            timeout-ms = <70>;
            require-prior-idle-ms = <30>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <18 19>;
            layers = <0 1 3>;
        };

        hyphen {
            bindings = <&kp MINUS>;
            key-positions = <31 30>;
            layers = <0 1 2 3>;
            timeout-ms = <50>;
            require-prior-idle-ms = <30>;
        };

        under {
            bindings = <&kp UNDER>;
            key-positions = <44 45>;
            layers = <0 1 2 3>;
            require-prior-idle-ms = <30>;
            timeout-ms = <50>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            require-prior-idle-ms = <30>;
            layers = <0 1 2 3>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <29 28>;
            timeout-ms = <50>;
            require-prior-idle-ms = <30>;
            layers = <0 1 2 3>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <40 41>;
            timeout-ms = <50>;
            require-prior-idle-ms = <30>;
            layers = <0 1 2 3>;
        };

        clear_all_bt {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <12 24>;
            layers = <10>;
            timeout-ms = <60>;
            require-prior-idle-ms = <30>;
        };

        l_media {
            bindings = <&mo 10>;
            key-positions = <54 53>;
            timeout-ms = <60>;
            require-prior-idle-ms = <30>;

            // layers = <0 >;
        };
    };

    // }}} COMBOS
    // CONDITIONAL LAYERA {{{

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Media {
            if-layers = <6 4>;
            then-layer = <10>;
        };

        MediaRu {
            if-layers = <6 5>;
            then-layer = <10>;
        };

        MediaNavNum {
            if-layers = <6 7>;
            then-layer = <10>;
        };
    };

    // }}} CONDITIONAL LAYERS
    // KEYMAP {{{

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&kp GRAVE          &kp N1       &kp N2           &kp N3          &kp N4        &kp N5                                            &kp N6               &kp N7        &kp N8             &kp N9            &kp N0          &kp BSPC
&kp TAB            &kp Q        &kp W            &kp E           &kp R         &kp T                                             &kp Y                &kp U         &kp I              &kp O             &kp P           &kp BACKSPACE
&u_mt LCTRL ESC    &mtl LGUI A  &mtl LALT S      &mtl LSHFT D    &mtl LCTRL F  &kp G                                             &kp H                &mtr RCTRL J  &mtr RSHFT K       &mtr RALT L       &mtr RGUI SEMI  &kp SQT
&mtsk LSHFT LSHFT  &kp Z        &kp X            &kp C           &kp V         &kp B          &kp C_MUTE       &kp C_PLAY_PAUSE  &kp N                &kp M         &kp COMMA          &kp DOT           &kp FSLH        &mtsk RSHFT RSHFT
                                &mtsk LGUI LGUI  &u_mt LALT ESC  &m_la 6       &u_lt 7 SPACE  &u_lt 8 ENTER    &key_repeat       &mtsk RSHIFT RSHIFT  &lasl 4 4     &mtsk RCTRL RCTRL  &u_mt RGUI K_APP
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_prevnext>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        BaseAlt1 {
            display-name = "BaseAltMMK";
            bindings = <
&trans  &kp N1       &kp N2       &kp N3        &kp N4        &kp N5                    &kp N6  &kp N7        &kp N8        &kp N9       &kp N0       &trans
&trans  &kp Q        &kp W        &kp L         &kp D         &kp G                     &kp K   &kp J         &kp O         &kp U        &kp SEMI     &trans
&trans  &mtl LGUI N  &mtl LALT S  &mtl LSHFT R  &mtl LCTRL T  &kp P                     &kp Y   &mtr RCTRL H  &mtr RSHFT E  &mtr RALT I  &mtr RGUI A  &kp SQT
&trans  &kp Z        &kp X        &kp C         &kp V         &kp B   &trans    &trans  &kp J   &kp M         &kp COMMA     &kp DOT      &kp FSLH     &trans
                     &trans       &trans        &trans        &trans  &trans    &trans  &trans  &lasl 4 4     &trans        &trans
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_prevnext>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;

            label = "BaseAlt1";
        };

        BaseAlt2 {
            label = "BaseAlt2";
            display-name = "BaseAlt2";
            bindings = <
&trans  &kp N1       &kp N2       &kp N3        &kp N4        &kp N5                       &kp N6  &kp N7        &kp N8         &kp N9       &kp N0       &trans
&trans  &kp Q        &kp Y        &kp O         &kp U         &kp EQUAL                    &kp X   &kp L         &kp D          &kp P        &kp Z        &trans
&kp B   &mtl LGUI C  &mtl LALT I  &mtl LSHFT A  &mtl LCTRL E  &kp MINUS                    &kp K   &mtr RCTRL H  &mtr RSHFT T   &mtr RALT N  &mtr RGUI S  &kp W
&trans  &kp SQT      &kp COMMA    &kp DOT       &kp FSLH      &kp SEMI   &trans    &trans  &kp J   &kp M         &kp G          &kp F        &kp V        &trans
                     &trans       &trans        &trans        &trans     &trans    &trans  &trans  &lasl 4 4     &u_mt RCTRL R  &trans
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_prevnext>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        BaseRu {
            display-name = "BaseRu";
            bindings = <
&trans  &kp N1                    &kp N2                      &kp N3                     &kp N4                    &kp N5                                &kp N6              &kp N7                     &kp N8                     &kp N9                    &kp N0                     &trans
&trans  &kp RU_CYRILLIC_SHORT_I   &kp RU_CYRILLIC_TSE         &kp RU_CYRILLIC_U          &kp RU_CYRILLIC_KA        &kp RU_CYRILLIC_IE                    &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE        &kp RU_CYRILLIC_SHA        &kp RU_CYRILLIC_SHCHA     &kp RU_CYRILLIC_ZE         &trans
&trans  &mtl LGUI RU_CYRILLIC_EF  &mtl LALT RU_CYRILLIC_YERU  &mtl LSHFT RU_CYRILLIC_VE  &mtl LCTRL RU_CYRILLIC_A  &kp RU_CYRILLIC_PE                    &kp RU_CYRILLIC_ER  &mtr RCTRL RU_CYRILLIC_O   &mtr RSHFT RU_CYRILLIC_EL  &mtr RALT RU_CYRILLIC_DE  &mtr RGUI RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_E
&trans  &kp RU_CYRILLIC_YA        &kp RU_CYRILLIC_CHE         &kp RU_CYRILLIC_ES         &kp RU_CYRILLIC_EM        &kp RU_CYRILLIC_I   &trans    &trans  &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE         &kp RU_CYRILLIC_YU        &kp RU_DOT                 &trans
                                  &trans                      &trans                     &trans                    &trans              &trans    &trans  &trans              &lasl 5 5                  &trans                     &trans
            >;

            sensor-bindings =
                <&enc_vol>,
                <&enc_prevnext>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>,
                <&enc_vol>;
        };

        Sym {
            display-name = "Sym";
            bindings = <
&trans         &trans          &trans           &trans            &trans             &trans                       &trans           &trans            &trans           &trans          &trans          &trans
&kp TILDE      &kp GRAVE       &kp LBKT         &kp RBKT          &kp SQT            &kp DQT                      &kp HASH         &kp CARET         &kp LBRC         &kp RBRC        &kp DOLLAR      &trans
&ru RU_NUMERO  &mtl LGUI EXCL  &mtl LALT EQUAL  &mtl LSHFT MINUS  &mtl LCTRL PLUS    &kp ASTRK                    &kp KP_ASTERISK  &mtr RCTRL COLON  &mtr RSHFT LPAR  &mtr RALT RPAR  &mtr RGUI SEMI  &kp DQT
&tog 4         &kp LT          &kp PIPE         &kp UNDER         &kp GT             &kp SLASH  &trans    &trans  &kp AT           &kp AMPS          &kp COMMA        &kp DOT         &kp QMARK       &trans
                               &kp PERCENT      &trans            &u_lt 6 BACKSLASH  &trans     &trans    &trans  &trans           &none             &trans           &trans
            >;
        };

        SymRu {
            display-name = "Sym";
            bindings = <
&trans         &trans          &trans           &trans            &trans                &trans                          &trans           &trans               &trans           &trans          &trans             &trans
&en TILDE      &en GRAVE       &en LBKT         &en RBKT          &en SQT               &kp RU_DQT                      &en HASH         &en CARET            &en LBRC         &en RBRC        &en DOLLAR         &kp RU_CYRILLIC_HA
&ru RU_NUMERO  &mtl LGUI EXCL  &mtl LALT EQUAL  &mtl LSHFT MINUS  &mtl LCTRL PLUS       &kp ASTRK                       &kp KP_ASTERISK  &mtr RCTRL RU_COLON  &mtr RSHFT LPAR  &mtr RALT RPAR  &mtr RGUI RU_SEMI  &kp RU_DQT
&tog 4         &en LT          &en PIPE         &kp UNDER         &en GT                &kp RU_SLASH  &trans    &trans  &en AT           &en AMPS             &kp RU_COMMA     &kp RU_DOT      &kp RU_QMARK       &kp RU_CYRILLIC_HARD_SIGN
                               &en PERCENT      &trans            &u_lt 6 RU_BACKSLASH  &trans        &trans    &trans  &trans           &none                &trans           &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
&none   &none       &none         &none       &none          &none                             &kp F7      &kp F8    &kp F9    &kp F10          &kp F11          &kp F12
&trans  &swap_wins  &kp LC(LEFT)  &swap_desk  &kp LC(RIGHT)  &swap_tabs                        &caps_word  &kp INS   &kp HOME  &kp PG_UP        &kp PAUSE_BREAK  &trans
&trans  &cm_lgui    &cm_lalt      &cm_lshft   &cm_lctrl      &kp ENTER                         &kp LEFT    &kp DOWN  &kp UP    &kp RIGHT_ARROW  &kp PRINTSCREEN  &trans
&tog 6  &kp LC(Z)   &kp LC(X)     &kp LC(C)   &kp LC(V)      &kp LC(B)   &kp C_PP    &trans    &kp CAPS    &kp DEL   &kp END   &kp PG_DN        &kp SCROLLLOCK   &trans
                    &trans        &trans      &none          &trans      &trans      &kp BSPC  &kp SPACE   &mo 4     &trans    &trans
            >;

            sensor-bindings = <&enc_prevnext>;
        };

        Num {
            display-name = "Num";
            bindings = <
&kp F1  &kp F2      &kp F3        &kp F4      &kp F5         &kp F6                        &kp F7           &kp F8     &kp F9     &kp F10     &kp F11         &kp F12
&trans  &swap_wins  &kp LC(LEFT)  &swap_desk  &kp LC(RIGHT)  &swap_tabs                    &kp KP_DIVIDE    &kp KP_N7  &kp KP_N8  &kp KP_N9   &kp KP_MINUS    &trans
&trans  &cm_lgui    &cm_lalt      &cm_lshft   &cm_lctrl      &kp ENTER                     &kp KP_MULTIPLY  &kp KP_N4  &kp KP_N5  &kp KP_N6   &kp KP_PLUS     &kp KP_ENTER
&tog 7  &kp LC(Z)   &kp LC(X)     &kp LC(C)   &kp LC(V)      &kp LC(B)   &trans    &trans  &kp KP_N0        &kp KP_N1  &kp KP_N2  &kp KP_N3   &kp KP_NUMLOCK  &kp ENTER
                    &trans        &trans      &trans         &none       &trans    &trans  &kp SPACE        &kp KP_N0  &kp KP_N0  &kp KP_DOT
            >;
        };

        Func {
            display-name = "Func";
            bindings = <
&trans         &none              &kp LC(LS(PRINTSCREEN))  &kp LS(PRINTSCREEN)  &kp LA(PRINTSCREEN)  &kp PRINTSCREEN                    &none      &none   &none   &none   &none    &none
&kp LA(GRAVE)  &kp LC(LS(GRAVE))  &none                    &none                &kp LA(LS(R))        &kp LS(LA(T))                      &kp F12    &kp F7  &kp F8  &kp F9  &kp F15  &trans
&trans         &cm_lgui           &cm_lalt                 &cm_lshft            &cm_lctrl            &kp LA(LS(G))                      &kp F11    &kp F4  &kp F5  &kp F6  &kp F14  &trans
&tog 8         &kp LC(Z)          &kp LC(X)                &kp LC(C)            &kp LC(V)            &kp LC(B)        &trans    &trans  &kp F10    &kp F1  &kp F2  &kp F3  &kp F13  &trans
                                  &trans                   &trans               &trans               &trans           &none     &trans  &kp SPACE  &trans  &trans  &trans
            >;
        };

        Mouse {
            display-name = "Mouse";
            bindings = <
&kp F1  &kp F2      &kp F3        &kp F4      &kp F5         &kp F6                           &kp F7          &kp F8          &kp F9        &kp F10          &kp F11  &kp F12
&trans  &swap_wins  &kp LC(LEFT)  &swap_desk  &kp LC(RIGHT)  &swap_tabs                       &none           &none           &none         &none            &none    &trans
&trans  &cm_lgui    &cm_lalt      &cm_lshft   &cm_lctrl      &kp ENTER                        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none    &trans
&tog 9  &kp LC(Z)   &kp LC(X)     &kp LC(C)   &kp LC(V)      &kp LC(B)   &trans    &trans     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none    &trans
                    &trans        &trans      &trans         &trans      &none     &mkp LCLK  &mkp RCLK       &mkp MCLK       &mkp MB4      &mkp MB5
            >;
        };

        Media {
            display-name = "Media";
            bindings = <
&bootloader  &trans        &kp LEFT      &kp RIGHT     &trans        &trans                                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&tog 9       &none         &kp C_PREV    &kp C_PP      &kp C_NEXT    &out OUT_BLE                            &out OUT_BLE  &kp C_PREV    &kp C_PP      &kp C_NEXT    &trans        &trans
&soft_off    &none         &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP  &out OUT_USB  &sys_reset    &sys_reset  &out OUT_USB  &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP  &trans        &studio_unlock
                           &kp LEFT      &kp RIGHT     &none         &trans        &trans        &trans      &trans        &none         &trans        &trans
            >;
        };
    };

    // }}} KEYMAP
};

/* vim: set ft=dts: */
